@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  
  padding: 0 45px;
  background-color: #292D32;
  color: white;
}



/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
